<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="false" class="sidenav-container">
    <mat-list role="list">
      <mat-list-item role="listitem" [routerLink]="['/home']" routerLinkActive="active">
        Home
      </mat-list-item>
      <mat-list-item role="listitem" [routerLink]="['/patients/add']" routerLinkActive="active">
        Add new patient
      </mat-list-item>
      <mat-list-item role="listitem" [routerLink]="['/patients/list']" routerLinkActive="active">
        List patients
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
