<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/">Nesto</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav">
  <mat-sidenav #sidenav mode="side" opened="false" class="sidenav-container">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <button mat-button routerLink="/" routerLinkActive="active">
          Home
        </button>
      </mat-list-item>
      <mat-list-item role="listitem">Add new patient</mat-list-item>
      <mat-list-item role="listitem">List patients</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="padding: 20px 30px">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
