<div *ngIf="form" [formGroup]="form">
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" formControlName="phoneNumber"
        (blur)="onPrefixToPhoneNumberOnBlur()"></textarea>
      <mat-error *ngIf="phoneNumber.hasError('required')">Phone number is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Street</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" formControlName="street"></textarea>
      <mat-error *ngIf="street.hasError('required')">Street is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>City</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" formControlName="city"></textarea>
      <mat-error *ngIf="city.hasError('required')">City is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Zip Code</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" formControlName="zipCode"></textarea>
      <mat-error *ngIf="zipCode.hasError('required')">Zip code is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Country</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" formControlName="country"></textarea>
      <mat-error *ngIf="country.hasError('required')">Country is required</mat-error>
    </mat-form-field>
  </div>
</div>
