<div *ngIf="form" [formGroup]="form">

  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field *ngIf="!_homeAddress">
      <mat-label>Address</mat-label>
      <mat-select formControlName="type">
        <mat-option value="HOME" class="hidden">Home</mat-option>
        <mat-option value="SECOND_HOME">Second Home</mat-option>
        <mat-option value="WORK">Work</mat-option>
        <mat-option value="HOLIDAYPLACE">Holiday place</mat-option>
        <mat-option value="RELATIVE">Close relative</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="!_homeAddress && form.controls.name">
      <mat-label>Name</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" formControlName="name"></textarea>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" formControlName="phone"
        (blur)="onPrefixToPhoneNumberOnBlur()"></textarea>
      <mat-error *ngIf="phone.hasError('required')">Phone number is required</mat-error>
      <mat-error *ngIf="phone.hasError('pattern')">Must be a valid phone number</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Street</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" formControlName="street"></textarea>
      <mat-error *ngIf="street.hasError('required')">Street is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>City</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" formControlName="city"></textarea>
      <mat-error *ngIf="city.hasError('required')">City is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Zip Code</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" formControlName="zipcode"></textarea>
      <mat-error *ngIf="zipcode.hasError('required')">Zip code is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Country</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" formControlName="country"></textarea>
      <mat-error *ngIf="country.hasError('required')">Country is required</mat-error>
    </mat-form-field>
  </div>
</div>
